---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
<script>
  var external_link__add_blank = function(){
      var a_tags = document.querySelectorAll('a:not([target="_blank"])'),
      res = [];
      if(!a_tags.length) return;
      for(var i = 0; i < a_tags.length; i++ ){
        if( a_tags[i].href.indexOf(window.location.host) !== -1 ) continue;
        if( a_tags[i].href.indexOf('#') === 1 ) continue;
        a_tags[i].setAttribute('target','_blank');
        res.push(a_tags[i])
      }
      return res;
  }
  document.addEventListener('DOMContentLoaded',external_link__add_blank,false);
</script>